
<ion-tabs class="tabs-striped tabs-top tabs-background-energized">

        <ion-tab title="Home" icon="ion-home" href="#/app/assignment/assignprogress">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios7-information" href="#/app/assignment/assignbid">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios7-world"   href="#/app/assignment/assigncompleted">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>