<ion-view title="Listgig">
  <ion-content class="has-header"padding="true">
  <div class="list">
   
    <a class="item item-avatar" href="#">
      <img src="img/person.png">
    	
      <h2>Venkman</h2>
      <h4>Posted on :4 hrs ago</h4>
      <div class="blockw">
      <p style="white-space: pre-line;white-space: pre-line; max-width: 80%;line-height: 14px;word-spacing: 6px; text-align: left;">Back off, man. I'm a scientist. N I m topling from the top....ywyywywywy..sdsdfdgfgd
      fgsdfddfgfgfdgdfsd </p>
      </div>
      <button class="button button-small button-assertive bidbutton">
       Bid
      </button>
    </a>


<a class="item item-avatar" href="#">
      <img src="img/person.png">
    	
      <h2>Venkman</h2>
      <h4>Posted on :4 hrs ago</h4>
      <p>Back off, man. I'm a scientist.</p>
      <button class="button button-small button-assertive bidbutton">
  Bid
</button>
    </a>
  
<a class="item item-avatar" href="#">
      <img src="img/person.png">
    	
      <h2>Venkman</h2>
      <h4>Posted on :4 hrs ago</h4>
      <p>Back off, man. I'm a scientist.</p>
      <button class="button button-small button-assertive bidbutton">
  Bid
</button>
    </a>

<a class="item item-avatar" href="#">
      <img src="img/person.png">
    	
      <h2>Venkman</h2>
      <h4>Posted on :4 hrs ago</h4>
      <p>Back off, man. I'm a scientist.</p>
      <button class="button button-small button-assertive bidbutton">
  Bid
</button>
    </a>

<a class="item item-avatar" href="#">
      <img src="img/person.png">
    	
      <h2>Venkman</h2>
      <h4>Posted on :4 hrs ago</h4>
      <p>Back off, man. I'm a scientist.</p>
      <button class="button button-small button-assertive bidbutton">
  Bid
</button>
    </a>

<a class="item item-avatar" href="#">
      <img src="img/person.png">
    	
      <h2>Venkman</h2>
      <h4>Posted on :4 hrs ago</h4>
      <p>Back off, man. I'm a scientist.</p>
      <button class="button button-small button-assertive bidbutton">
  Bid
</button>
    </a>

<a class="item item-avatar" href="#">
      <img src="img/person.png">
    	
      <h2>Venkman</h2>
      <h4>Posted on :4 hrs ago</h4>
      <p>Back off, man. I'm a scientist.</p>
      <button class="button button-small button-assertive bidbutton">
  Bid
</button>
    </a>

<a class="item item-avatar" href="#">
      <img src="img/person.png">
    	
      <h2>Venkman</h2>
      <h4>Posted on :4 hrs ago</h4>
      <dd>Back off, man. I'm a scientist.</dd>
      <button class="button button-small button-assertive bidbutton">
  Bid
</button>
    </a>

</div>

<div style="clear:both;"></div>
    </ion-content>
</ion-view>
