<ion-view title="Login" ng-controller="LoginController">

<ion-content class="whit" scroll="false" padding="true">
   <div id="loginlogo">
   <!--<h2 style="color:#777777 ;font-size:40px">HELLO</h2> -->
   <img ng-src="img/logo-1.png">
    </div>
 <form>
      <div class="list logindetails">
        <button ng-click="twitterLogin()" class="button button-block button-stable twitterblue"> <i class="icon ion-social-twitter-outline"></i>
                    Sign In via Twitter
                </button>

        <button ng-click="googlelogin()" class="button button-block button-stable googlered"> <i class="icon ion-social-googleplus"></i>
                    Sign In via google
                </button>

      <button ng-click="login()" class="button button-block button-stable facebookblue"> <i class="icon ion-social-facebook-outline"></i>
                    Sign In via facebook
                </button>
             </div>
               
      


    </form>
</ion-content>

</ion-view>
<!--
<ion-view  title="Gigster">
    <ion-content class="loginbody">
        <div id="loginlogo">
        		<img ng-src="img/logo-1.png">
        	</div>	
        		<div class="logindetails">
            <div class="padding" ng-controller="LoginController">
                <button ng-click="login()" class="button button-block button-stable twitterblue"> <i class="icon ion-social-twitter-outline"></i>
                    Sign In via Twitter
                </button>
            </div>
       
            <div class="padding" ng-controller="MyCtrl">
                <button ng-click="googleLogin()" class="button button-block button-stable googlered"> <i class="icon ion-social-googleplus"></i>

                    Sign In via google
                </button>
            </div>
             <div class="padding" ng-controller="FBlogin">
                <button ng-click="facebookLogin()" class="button button-block button-stable facebookblue"> <i class="icon ion-social-facebook-outline"></i>
                    Sign In via facebook
                </button>
            </div>
           </div>
    </ion-content>
</ion-view>

-->