<ion-view title="postgigs">
 <!-- <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->
  <ion-content class="has-header postgb">
    <h3 class="header">Post a gig</h3>


<div class="list postgb">
  <label class="item item-input item-floating-label">
    <span class="input-label">Title(Headline for your gigs)</span>
    <input type="text" placeholder="Title">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Description</span>
    <input type="text" placeholder="Description">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">How much u ve a pay</span>
    <input type="text" placeholder="How much your like to pay">
  </label>

  <ul class="list" style="display:inline;">

  <li class="item item-checkbox postgb">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Per gigs
  </li>
<li class="item item-checkbox postgb">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Per hour
  </li>
 

</ul>
<label class="item item-input item-floating-label">
    <span class="input-label">How much u ve a pay</span>
    <input type="text" placeholder="Skills you required">
  </label>

<label class="item item-input item-floating-label">
    <span class="input-label">How much u ve a pay</span>
    <input type="text" placeholder="Select expiry date of your Gig">
  </label>
<div>
	<h4>Would you like to invite your favourite Gigsters to bid?</h4>
	<li class="item item-checkbox no-border postgb">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Per gigs
  </li>
<li class="item item-checkbox no-border postgb">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Per hour
  </li>
</div>
<button class="button button-full button-positive">
  Post gig
</button>
</div>


  </ion-content>
</ion-view>
