<ion-view title="Submit">
  <ion-content>
    <h3>Bid on gigs</h3>
<div class="list">
  
<label class="item item-input">
    <input type="text" placeholder="Your Message">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Status
    </div>
    <select>
      <option>10</option>
      <option selected>20</option>
      <option>30</option>
    </select>
  </label>
 <button class="button button-full button-assertive">
        Send Report
      </button>  
</div>
   </ion-content>
</ion-view>
