
<ion-tabs class="tabs-striped tabs-top tabs-background-energized">
        <ion-tab title="bidding" href="#/app/assignment/assignbid">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Awarded" href="#/app/assignment/assignprogress">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Completed" href="#/app/assignment/assigncompleted">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>