<ion-view title="My Bid">
  <ion-content class="has-header">
    <div class="list card" ng-repeat="p in biddingbids">
    <div class="item item-avatar">	
    <img src="img/person.png">
    <h2>{{p.fname+" "+p.lname}}</h2>
    <p>{{p.city}}</p>
    <h3><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i></h3>
</div>
<h2>{{p.prjTitle}}</h2>
<h4>posted on : {{p.postedon | date:'medium'}}</h4>
<p>{{p.prjdesc}}</p>
</div>
  </ion-content>
</ion-view>
