<ion-view title="MY BIDS">
  <ion-content class="has-header">
<div class="list" ng-repeat="p in biddingawarded">
  <div class="row card">
    <div class="col-40">
    <div class="item-avatar" style="padding-left: 100px;box-sizing: content-box;">
     <img src="img/person.jpg" id="award-img">
   </div>
   <div>
    <h2>{{p.fname+" "+p.lname}}</h2>
    <p>{{p.city}}</p>
    <p><i class="icon  ion-star" id="star-icon"></i><i class="icon  ion-star" id="star-icon"></i><i class="icon  ion-star" id="star-icon"></i><i class="icon  ion-star" id="star-icon"></i><i class="icon  ion-star" id="star-icon"></i></p>
    <i style="font-size: 25px;" class="icon ion-chatboxes" ng-click="msgmodel(currentuser,p.userId,p.prjId)" id="chat-icon"></i>
    <span style="padding:5px;" ng-if="p.completion==100">
    
      <i class="icon ion-compose" id="send-report" ng-click="feedbackmodel(p,$index)"></i>  
    </span>
    </div>
    </div>
     <div class="col-60"  style="border: 0px;width: 70%;">
     <h2 ng-click="showbiddetail(p)">{{p.prjTitle}}</h2>
     <p>posted on : {{p.postedon | date:'medium'}}</p>
    
    <p>
      project description: {{p.prjdesc}}
    </p>
    <p>
      status : {{p.status}}
    </p>
    <span style="padding:0px;" class="range range-positive">
      <a ng-click="statusreportmodel(p,$index)" style="width:100%;"> 
        <span>send report</span>
         <span id="status-bar-start"> {{p.startdate | date:'dd,MMM yyyy'}}</span>
         <span id="status-bar-end">{{p.completiondate | date:'dd,MMM yyyy'}}</span>
        <input type="range" name="volume" min="0" max="100" value="{{(p.completion> 0)?p.completion:0}}" id="status-bar-width" readonly>
        </a>

    </span>
    </div>
       
    

    
    <!-- <div>
    <button class="bid-button" ng-click="msgmodel( p , $index )"> Msg </button>
    </div> -->
  </div>
</div>





  </ion-content>
</ion-view>
