<ion-view title="MY BIDS">
  <ion-content class="has-header">

  <div class="list" ng-repeat="b in biddingbids">
        <div class="list list-inset" ng-if="b.status != '2'" >
        <!--div class="item">
    <div class="item-avatar">
    <img src="img/person.png">
    <h2 >{{b.username}}</h2>
    <p>{{b.city}}</p>
   
    </div>
 <p><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i></p>
    <i class="icon ion-chatboxes" ng-click="msgmodel(currentuser,b.userId,b.prjId)" id="chat-icon"></i></div -->
            <div class="item item-body list1" ng-click="showbiddetail(b)" >
                <h2 style="text-transform: capitalize">{{b.prjTitle}}</h2>
                <p>posted on : {{b.postedon | date:'medium'}}</p>
                <p>
                   <h4>project description: {{b.prjdesc}}</h4>
                </p>
                <p>
                    <h4>Budget : ${{b.proposedbudget}}</h4>
                </p>

    
            </div>
      </div>
  </div>
  </ion-content>
</ion-view>
zv