<ion-view title="MY GIGS">
  <ion-content class="has-header">

  <div class="list" ng-repeat="b in bidding" >
      <div class="list list-inset" ng-if="b.status != '2'" >
              <!--<div class="item item-avatar">
                    <img src="img/person.png">
                    <h2>{{b.username}}</h2>
                    <p>{{b.city}}</p>
                    <p><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i></p>
              </div>-->
              <div class="row item item-body list1"> 
                    <div class="col col-80 img-col " >
                    <!--div class="item item-body" ng-click="gigdetailsmodel(list)"-->
                    <h2 ng-click="gigdetailsmodelinmygig(b,$index)">{{b.prjTitle}}</h2>
                    <div>
                 <h2 style="border 1px solid red;"><i class="icon  ion-location" id="map-icon"></i>{{list.gigLocation}} <a class="budgt">Budget: ${{b.proposedbudget}}</a></h2>
                 
                 </div>      
                    <p>posted on : {{b.postedon | date}}</p>
                    <p>description: {{b.prjdesc}}</p>
                    <!--p>project prjId: {{b.prjId}}</p-->
                     
                    
                    </div>   
                    <div class="col col-20 img-col">
                    <button class="new-bid-button" ng-if="b.status != '5'"  ng-click="cancelgigmodel( b,prjId )"> Cancel gig </button>
                    <p ng-if="b.status == '5'"> gig canceled....!!!! </p>
                    </div>
              
              </div>


      </div>
  </div>
</ion-content>
</ion-view>
