<ion-modal-view > 
  <ion-header-bar id="bid-on-back">
    <h3 id="bid-on-gig-name" class="title">CHANGE PASSWORD</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="closechangepassword()"><i class="icon ion-close-round" id="close-btn"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
 <form name="updatepasswordform" id="mail-menu" ng-submit="updatepassword( updatepasswordform.$valid,editprofilerecord )">
        <div id="login-div">
        <!-- <label for="email">Email</label> -->
        <input id="title" disabled type="text" ng-model="editprofilerecord.usermail">
       <input id="title"  type="password" placeholder="Current Password" ng-model="editprofilerecord.currentpassword">
       <!--  <label for="password">Password</label> -->
       <input id="title" ng-model="editprofilerecord.newpassword" type="password" placeholder="Enter New Password" />
       <input id="title" ng-model="editprofilerecord.newpasswordverify" type="password" name="confirmPassword" data-match="editprofilerecord.newpassword" placeholder="Reenter New Password" />
       <div data-ng-show="updatepasswordform.confirmPassword.$error.match">Passwords do not match!</div>
        
        <button class="bid-button">SUBMIT</button>
    <!-- <p align="center">not a user... Please Sign-up <strong><a class="item" href="#/app/signup">here..!</a></strong></p> -->
      </div>
    </form> 
    
  </ion-content>
</ion-modal-view>
