


<ion-modal-view > 
  <ion-header-bar id="bid-on-back">
    <h3 class="title">CHANGE PASSWORD FOR TEST AUTOMATIC Deploy</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="closechangepassword()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
 <form name="signupform" id="mail-menu" ng-submit="dosignup(signupform.$valid,user)">
        <div id="login-div">
        <!-- <label for="email">Email</label> -->
        <input id="title" disabled type="text" ng-model="editprofilerecord.usermail">
       <input id="title"  type="password" placeholder="Current Password" ng-model="editprofilerecord.userpass">
       <!--  <label for="password">Password</label> -->
        <input id="title" type="password" placeholder="New Password" ng-model="">
        <input id="title" type="password" placeholder="Confirm Password" ng-model="">
        
        <button class="button button-block signup-btn">SUBMIT</button>
    <!-- <p align="center">not a user... Please Sign-up <strong><a class="item" href="#/app/signup">here..!</a></strong></p> -->
      </div>
    </form> 
    
  </ion-content>
</ion-modal-view>
