<ion-view title="MY GIGS">
  <ion-content class="has-header">

    <div class="list " ng-repeat="b in completed">
        <div class="list list-inset list1">
    <div class="item item-avatar ">
    <img src="img/person.png">

    <h2>{{b.username}}</h2>
    <p>{{b.city}}</p>
    <p><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i></p>
    </div>
     <div class="item item-body">
     <h2>{{b.prjTitle}}</h2>
     <p>posted on : {{b.postedon | date:'medium'}}</p>
    
    <p>
      project description: {{b.prjdesc}}
    </p>
    
    
  </div>
 
  </div>
  </div>
  </ion-content>
</ion-view>
