<ion-view title="Email">
  <ion-content>
  <h1>Login</h1>
  <div id="loginlogo">
   <!--<h2 style="color:#777777 ;font-size:40px">HELLO</h2> -->
   <img ng-src="img/logo-1.png">
 </div>

 <div class="list" style="padding-top:40px;">
  <label class="item item-input">
    <input type="text" placeholder="Name" ng-model="user.gigname">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="user.password">
  </label>
  <button style="background-color:#E2AC10;"ng-click="login(user)" class="button button-block button-stable">Login</button>

</div>

  </ion-content>
</ion-view>
