<ion-modal-view id="signup-background"> 
  <ion-header-bar id="bid-on-back">
    <h3 class="title" id="bid-on-gig-name">Forgote Password</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeforgotpasmodal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

 <form name="forgotpassform" id="mail-menu" ng-submit="doforgotpass(forgotpassform.$valid,user)">
        



        <div id="login1-div">
        <!-- <label for="email">Email</label> -->
        <p id="or-name">Submit your email address, and we'll send you an email that helps you to create a new password.</p>
        <input id="email" class="email-inpute" placeholder="Email" name="email" type="email" ng-model="user.gigid" required/>
        <span class="error" ng-show="forgotpassform.email.$error.required" style="display:none;">required</span>
        <span class="error" ng-show="forgotpassform.email.$error.email">Invalid email</span>
       <!--  <label for="password">Password</label> -->
        
        <div id="errmsg"></div>
        <button class="button button-block signup-btn">SUBMIT</button>
    <!-- <p align="center">not a user... Please Sign-up <strong><a class="item" href="#/app/signup">here..!</a></strong></p> -->
      </div>
    </form> 
    
  </ion-content>
</ion-modal-view>
