<ion-modal-view> 
  <ion-header-bar id="bid-on-back">
    <h3 id="bid-on-gig-name" class="title"> Bidding Gig Details</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="closegigdetailmodel()"><i class="icon ion-close-round" id="close-btn"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
<div>
<div class="row"> 
  <div class="col col-33 img-col">
      <img  ng-src="http://www.gigstergo.com/image.php?image=/uploads/profileimage/{{list.profileimage}}" class="list-gig-img">      
  </div>
  <div class="col col-67 img-col">
    <h2>{{progressmygigdetails.username}}</h2>
      <p class="gig-paragraph"><i class="icon  ion-location" id="map-icon"></i>{{progressmygigdetails.gigLocation}}</p>
      <p><i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
      </p>
  </div>  
</div> 
<div class="row gig-row">
  <div class="col">
   <div class="list">
      <a class="item browse-gig-col" > 
            <h2>{{progressmygigdetails.prjTitle}}</h2>
            <h4>Posted on:{{progressmygigdetails.postedon|date:'dd/MM/yyyy'}}</h4>
            <p style="white-space: pre-line;">{{progressmygigdetails.prjdesc}}</p> 
             <h4>Budget : ${{progressmygigdetails.proposedbudget}}</h4> 
           
      </a>
  </div>
 </div> 
</div>
<div class="row gig-row">
<div class="col">
  <h4>Discription :</h4>  
  <p style="white-space: pre-line;">{{progressmygigdetails.prjdesc}}</p> 
</div>  
</div>

<div class="row">
  <div class="col">
  <h3>Bids</h3>
  </div>
</div>
<div></div>
<div class="row list1" ng-repeat="list in bidders">
  <div class="col col-25 img-col1">
      <img ng-src="http://www.gigstergo.com/image.php?image=/uploads/profileimage/{{list.profileimage}}" class="list-gig-img">      
  </div>
  <div class="col col-75 img-col1">
    <button class="new-bid-button" ng-if="bidding.status != '2'" ng-click="awardgigmodel(list,$index)"> Award gig </button> 
    <h2>{{list.username}}</h2>
      <p class="gig-paragraph"><i class="icon  ion-location" id="map-icon" ></i>{{list.city}}</p>
      <p><i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>

      </p>
      <h4>Description: {{list.bidcontent}}</h4>
      
       <h4>Bid price : ${{list.bidprice}}</h4>
        
          
  </div>

</div>  
 </div>


    
  </ion-content>
</ion-modal-view>
