<!--<ion-view title="Inbox">
  <ion-content class="has-header">
       <div class="list">

    <a class="item item-thumbnail-left" href="#/app/messages">
      <img src="img/person.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    ...

</div>
  </ion-content>
</ion-view>
-->
<ion-tabs class="tabs-striped tabs-only tabs-background-energized">

        <ion-tab title="Postgig" icon="ion-home" href="#/app/inbox/postgig">
          <ion-nav-view name="tab-tab1"></ion-nav-view>
        </ion-tab>

        <ion-tab title="listgig" icon="ion-home" href="#/app/inbox/tab2">
          <ion-nav-view name="tab-tab2"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Mygigs" icon="ion-home" href="#/app/inbox/tab3">
          <ion-nav-view name="tab-tab3"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Bid" icon="ion-home" href="#/app/inbox/tab4">
          <ion-nav-view name="tab-tab4"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Inbox" icon="ion-home" href="#/app/inbox/tab5">
          <ion-nav-view name="tab-tab5"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
      