<ion-view title="Inbox">
  <ion-content class="has-header">
    <div class="list list1" id="message-list" ng-repeat="msg in msgsall" style="padding: 0;
margin: 0;">
    <a class="item item-thumbnail-left" ng-click="msgmodel(msg.msgto,msg.msgfrom,msg.projectId)">
	  <img src="img/person.jpg"  class="msg-img">
      <h2>{{msg.username}}</h2>
      <p ng-bind-html="msg.msgcontent"></p>
      <i class="icon  ion-clock"></i><span id="msg-time">December 23 2014, 10:31 AM</span>

    </a>

	</div>
  </ion-content>
</ion-view>