  <ion-view title="BROWSE GIG">
  
  <ion-content class="has-header" padding="true" style="background:#efefef;">
      <div ng-repeat="list in listgigster" class="card list1">
          <div class="row"   style="border-bottom: 1px solid #efefef;"> 
              
              <div class="col img-col" ng-click="gotogigdetails( list.prjId )">
               <!-- <div class="col col-60 img-col" href="#/app/gigdetails" ng-controller="gigdetailsCtrl">-->
               <div><h3 style="float:left;">G{{list.prjId}}</h3>
               <h3 style="float:right;margin:0px;">${{list.proposedbudget}}</h3></div>
               <h4 style="clear:both;">{{list.prjTitle}}</h4>
               <p>{{list.prjdesc}}</p> 
               Projectid{{list.prjId}}
               <!--h4>Posted On: {{list.postedon|date:'dd/MM/yyyy'}}</h4 -->
                <!-- <h2><a >{{list.username}}</a></h2>
                  <p class="gig-paragraph"><i class="icon  ion-location" id="map-icon"></i>{{list.city}}</p>
                  <p><i class="icon  ion-star" id="star-icon"></i>
                     <i class="icon  ion-star" id="star-icon"></i>
                     <i class="icon  ion-star" id="star-icon"></i>
                     <i class="icon  ion-star" id="star-icon"></i>
                     <i class="icon  ion-star" id="star-icon"></i>
                  </p> -->
              <!--<button ng-if="list.userId == currentuser" class="new-bid-button" ng-click="sentbid(list , $index)">BID SENT </button>     -->
              </div>  

                           
          </div> 
      <div class="row"   style="border-bottom: 1px solid #efefef;"> 
        <div class="col col-20 img-col">
          <img ng-src="{{profileUrl}}{{list.profileimage}}" class="list-gig-img">
        </div>
        <div class="col col-50 img-col">
             <p>{{list.username}}</p>
             <p>{{list.gigLocation}}</p>                    
        </div>
        <div class="col col-20 img-col">
            <div ng-if="list.userId != currentuser ">
              <button ng-if="list.userId != currentuser" class="new-bid-button1" ng-click="bidongigform(list,$index)">BID</button>
              <button ng-if="list.bidfrom == currentuser" class="new-bid-button1" ng-click="sentbid(list)">BID SENT</button>
            </div>
        </div>
      </div>
      <div class="row gig-row" >
        <div class="col">
         <img ng-src="{{profileUrl}}{{list.profileimage}}" class="list-gig-img">
         <img ng-src="{{profileUrl}}{{list.profileimage}}" class="list-gig-img">
        </div>
      </div>
      </div>
      
    <ion-infinite-scroll on-infinite="loadMoreGigs()" distance="1%"></ion-infinite-scroll>

  </ion-content>
</ion-view>`