<ion-view title="Login" ng-controller="LoginController">

<ion-content class="whit home-back-img" scroll="false" padding="true">
   <!-- <div id="loginlogo">
   <h2 style="color:#777777 ;font-size:40px">HELLO</h2> 
   <img ng-src="img/logo-1.png">
   </div> -->
 <form>
      <div class="list logindetails">
        <button ng-click="twitterLogin()" class="button twitter-btn"> <i class="icon ion-social-twitter-outline"></i>
        </button>
        <button ng-click="googlelogin()" class="button twitter-btn"> <i class="icon ion-social-googleplus"></i>
        </button>
        <button ng-click="login()" class="button twitter-btn"> <i class="icon ion-social-facebook-outline"></i>
        </button>
        <button ng-click="login()" class="button twitter-btn"> <i class="icon ion-social-facebook-outline"></i>
        </button>

               <!--  <a href="#/app/emailogin" class="button button-block button-stable facebookblue"> 
                    Sign In via Email
                </a> -->
      </div>
    </form>
    <form name="mainForm" ng-submit="login(user)" ng-controller="emailoginCtrl">
        <div>
      <!-- <label for="email">Email</label> -->
      <input id="email" class="email-inpute" placeholder="Email"name="email" type="email" ng-model="user.gigname" required/>
      <!-- <span class="error" ng-show="mainForm.email.$error.required">required</span> -->
      <span class="error" ng-show="mainForm.email.$error.email">invalid email</span>
    </div>
    <div>
     <!--  <label for="password">Password</label> -->
      <input id="password" placeholder="Password" name="password" type="password" class="email-inpute" ng-model="user.password" required/>
      <!-- <span class="error" ng-show="mainForm.lastName.$error.required">required</span> -->
    </div>
    <div>
      <button class="button login-btn" ng-click="">LOGIN</button>
      <button class="button login-btn">SIGNUP</button>
  <!-- <p align="center">not a user... Please Sign-up <strong><a class="item" href="#/app/signup">here..!</a></strong></p> -->
    </div>
  </form> 
</ion-content>

</ion-view>
