<ion-side-menus>
  <ion-side-menus>
        <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive" >
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
   <h1 class="title" ></h1>
<ion-nav-buttons side="right">
          <button ng-click="setFocus()" ng-hide="hasFocus" class="button button-icon ion-ios7-search-strong animated"></button>
          
          <span ng-show="hasFocus" class="animated">
            <label class="item-input-wrapper animated">
              
              <input ng-blur="noFocus()" type="search style:"height:32px" " placeholder="Search">
            </label>
            <button ng-click="noFocus()" class="button button-clear animated">
              Cancel
            </button>
          </span>

        </ion-nav-buttons> 
 </ion-nav-bar>
        
          <ion-nav-view animation="no-animation" name="menuContent"></ion-nav-view>
        </ion-side-menu-content> 
 
  <ion-side-menu>
  <ion-header-bar class="bar bar-header"style="background-color:#fab518; border: none;">
        
          </ion-header-bar>

    <ion-content style="background-color:#fab518;">
      <ion-list class="sidemenucolor">
        <ion-item nav-clear menu-close href="#/app/profile" class="border1">
          <img style="width:50px;height:50px;" src="img/person.png">
          <p>Welcome .. {{username}}</p>
        </ion-item>
        <!--<ion-item nav-clear menu-close href="#/app/home" class="border1">
          Home
        </ion-item>  -->
        <ion-item nav-clear menu-close href="#/app/tabs/postgig">
          Post Gig
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tabs/listgig">
          List Gig
        </ion-item>
      <!--  <ion-item nav-clear menu-close href="#/app/tabs/gigster">
          Gigster
        </ion-item>  -->
        <ion-item nav-clear menu-close href="#/app/mygigs/progress">
          My Gigs
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/assignment/assignprogress">
          My Assignments
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tabs/inbox">
          inbox
           <i class="icon ion-ios7-email-outline" style="margin-left:20px;"></i>    
        </ion-item ng-controller="logoutcontroller">
        <ion-item nav-clear menu-close href="">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
