<ion-modal-view> 
  <ion-header-bar id="bid-on-back">
    <h3 id="bid-on-gig-name" class="title">Awarded Gig Details</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="closegigdetailmodel()"><i class="icon ion-close-round" id="close-btn"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
<div>
<div class="row"> 
  <div class="col col-33 img-col">
      <img src="img/person.jpg" class="list-gig-img">      
  </div>
  <div class="col col-67 img-col">
    <h2>{{progressmygigdetails.username}}</h2>
      <p class="gig-paragraph"><i class="icon  ion-location" id="map-icon"></i>{{progressmygigdetails.gigLocation}}</p>
      <p><i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
         <i class="icon  ion-star" id="star-icon"></i>
      </p>

      <img src="http://gigster2.fountaintechies.com/images/symbol.png" style="padding: 15px 5px 0px 0px;" title="Awarded">
  </div>  
</div> 
<div class="row gig-row">
  <div class="col">
   <div class="list">
      <a class="item browse-gig-col" > 
            <h2>{{progressmygigdetails.prjTitle}}</h2>
            <h4>Posted on:{{progressmygigdetails.postedon|date:'dd/MM/yyyy'}}</h4>
            <p style="white-space: pre-line;">{{progressmygigdetails.prjdesc}}</p> 
             <h4>Proposed budget: {{progressmygigdetails.proposedbudget}}</h4> 
             <h4 ng-repeat="list in bidders">Final Price: {{list.bidprice}}</h4> 
           
      </a>
  </div>
 </div> 
</div>
<div class="row gig-row">
<div class="col">
  <h4>Discription</h4>  
  <p style="white-space: pre-line;">{{progressmygigdetails.prjdesc}}</p> 
</div>  
</div>

   
</ion-content>
</ion-modal-view>
