<ion-view title="signup" >
  <ion-content>
    <div id="loginlogo">
      <img ng-src="img/logo-1.png">
    </div>

    <form name="mainForm" ng-submit="signup(user)">
          <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" ng-model="user.id" required/>
        <span class="error" ng-show="mainForm.email.$error.required">required</span>
        <span class="error" ng-show="mainForm.email.$error.email">invalid email</span>
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" ng-model="user.password" required/>
        <span class="error" ng-show="mainForm.password.$error.required">required</span>
      </div>
      <div>
        <label for="cpassword">Confirm Password</label>
        <input id="cpassword" name="cpassword" type="password" ng-model="user.cpassword" required/>
        <span class="error" ng-show="mainForm.cpassword.$error.required">required</span>
      </div>
      <div>
        <p>{{warning}}</p>
        <button style="background-color:#E2AC10;" class="button button-block button-stable">Login</button>
      </div>
    </form> 

  </ion-content>
</ion-view>

