<ion-view title="signup" ng-controller="signupCtrl">
<ion-content>
 <div id="loginlogo">
   <img ng-src="img/logo-1.png">
    </div>



 <form name="mainForm" ng-submit="signup(user)">
        <div>
      <label for="email">Email</label>
      <input id="email" name="email" type="email" ng-model="user.id" required/>
      <span class="error" ng-show="mainForm.email.$error.required">required</span>
      <span class="error" ng-show="mainForm.email.$error.email">invalid email</span>
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" ng-model="user.password" required/>
      <span class="error" ng-show="mainForm.password.$error.required">required</span>
    </div>
    <div>
      <label for="cpassword">Confirm Password</label>
      <input id="cpassword" name="cpassword" type="password" ng-model="user.cpassword" required/>
      <span class="error" ng-show="mainForm.cpassword.$error.required">required</span>
    </div>
    <div>
      <button style="background-color:#E2AC10;" class="button button-block button-stable">Login</button>
    </div>
  </form> 
</ion-content>
</ion-view>

<!--


<ion-view title="signup" ng-controller="signupCtrl">
  <ion-content>
  <div id="loginlogo">
   <img ng-src="img/logo-1.png">
    </div>
    <div class="signup">
  <label class="item item-input item-floating-label">
    <span class="input-label"><h3>Enter your Email Id</h3></span>
    <input type="text" placeholder="Email Id" class="input-color" ng-model="user.id">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label"><h3>Enter password</h3></span>
    <input type="text" placeholder="Enter password" class="input-color" ng-model="user.password">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label"><h3>Confirm password</h3></span>
    <input type="text" placeholder="Confirm password" class="input-color" ng-model="user.cpassword">
  </label>
  
  <button style="background-color:#E2AC10;"ng-click="signup(user)" class="button button-block button-stable">Sign Up</button>
  </ion-content>
</ion-view>
-->