
<ion-tabs class="tabs-striped tabs-only tabs-background-energized">

        <ion-tab title="Postgig" icon="ion-compose" href="#/app/tabs/postgig" class="footer-tab">
          <ion-nav-view name="tab-tab1"></ion-nav-view>
        </ion-tab>

        <ion-tab title="listgig" icon="ion-pricetags" href="#app/tabs/listgig" class="footer-tab">
          <ion-nav-view name="tab-tab2"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Mygigs" icon="ion-filing" href="#/app/tabs/gigster" class="footer-tab">
          <ion-nav-view name="tab-tab3"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Bid" icon="ion-hammer" href="#/app/mygigs/progress" class="footer-tab">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Inbox" icon="ion-email" href="#/app/tabs/inbox" class="footer-tab">
          <ion-nav-view name="tab-tab5"></ion-nav-view>
        </ion-tab>

        

      </ion-tabs>
      