<ion-modal-view id="signup-background"> 
  <ion-header-bar id="bid-on-back">
    <h3 class="title" id="bid-on-gig-name">Verify Account</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeverifyaccmodal()"><i class="icon ion-close-round" id="close-btn"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>

 <form name="forgotpassform" id="mail-menu" ng-submit="doverifyacc(forgotpassform.$valid,user)">
        



        <div id="login1-div">
        <!-- <label for="email">Email</label> -->
        <p id="or-name">Submit your email address and verifycode sent to your Email.</p>
        
        <input id="email" class="email-inpute" placeholder="Email" name="useremail" type="email" ng-model="user.useremail" required/>
        <span class="error" ng-show="forgotpassform.useremail.$error.required && forgotpassform.useremail.$dirty" >required</span>
        <span class="error" ng-show="forgotpassform.useremail.$error.email">Invalid email</span>

        <input id="email" class="email-inpute" placeholder="Verify Code" name="verifycode" type="number" ng-model="user.verifycode" required/>
        <span class="error" ng-show="forgotpassform.verifycode.$error.number">Invalid Code</span>
       <!--  <label for="password">Password</label> -->
        
        <div id="errmsg"></div>
        <button class="button button-block signup-btn">SUBMIT</button>
    <!-- <p align="center">not a user... Please Sign-up <strong><a class="item" href="#/app/signup">here..!</a></strong></p> -->
      </div>
    </form> 
    
  </ion-content>
</ion-modal-view>
