/* Empty. Add your own CSS if you like */

.loginbody{
	background-color:#e95436;
}

#loginlogo{
text-align: center;
max-width: 100%;
height: auto;
margin-top: 50px;

}

img{
	max-width: 100%;
	width: 180px;
}
.padding{
	padding: 1px;
}


.logindetails{
	margin-top: 40px;
}



button.button.button-block.button-stable.facebookblue{
	color: #fff;
    border:none;
	background-color: #3B5998;
	text-align: center;
}

button.button.button-block.button-stable.googlered{
color: #fff;
background-color: #dd4b39;
border: none;
text-align: center;
}

button.button.button-block.button-stable.twitterblue{
background-color: #55ACEE;
color: #fff;
border:none;
text-align: center;
	}